*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #240046;
  line-height: 1.5;
  box-sizing: border-box; }

.wave-container {
  height: 100px;
  overflow: hidden;
  transform: translateY(-4.6rem); }
  @media only screen and (max-width: 43.75em) {
    .wave-container {
      transform: translateY(-2.6rem); } }

.wave {
  z-index: 2;
  width: 100vw; }

.wave_footer {
  transform: translateY(6rem); }
  .wave_footer-fill {
    height: 10px;
    width: 100vw;
    background-color: #fff; }
  .wave_footer-img {
    width: 100vw; }
  @media only screen and (max-width: 87.5em) {
    .wave_footer {
      transform: translateY(3.2rem); } }
  @media only screen and (max-width: 37.5em) {
    .wave_footer {
      transform: translateY(1.8rem); } }

.heading {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 700; }
  .heading_gradient {
    background-image: linear-gradient(to right, #7b2cbfff, #7b2cbfff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .heading_white {
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }

.paragraph {
  padding: 1.7rem 0;
  color: #240046;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }

.bulletpoint {
  margin-right: 20px;
  font-weight: 700;
  text-transform: uppercase; }
  .bulletpoint::before {
    content: "";
    display: inline-flex;
    justify-content: flex-start;
    width: .8rem;
    height: .8rem;
    margin-right: 10px;
    background-color: #3c096c;
    border-radius: 50%;
    transform: translateY(-1px); }

.link {
  margin-bottom: 10px;
  color: #7b2cbfff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all .2s; }
  .link:hover {
    color: #c77dff;
    transform: scale(1.2); }

.copyright {
  color: #fff;
  font-weight: 400;
  font-family: "Roboto", sans-serif; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15% 40px 15%;
  transform: translateY(-5rem); }
  .about_img {
    width: 100px;
    border: solid 3px #7b2cbfff;
    border-radius: 50%;
    z-index: 3; }

hr {
  width: 85px;
  padding-bottom: 30px;
  border-style: dotted none none;
  border-color: #7b2cbfff;
  border-width: 8px; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s; }
  .contact_icon {
    padding: 5px 15px;
    background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3.5rem; }
    .contact_icon:hover {
      color: #7b2cbfff;
      transform: scale(1.2); }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.5rem;
  background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
  background-size: cover; }
  .footer_logo {
    width: 175px;
    margin-bottom: 1.5rem;
    padding-top: 50px; }

.header {
  background-image: linear-gradient(to right, #3c096c, #7b2cbfff); }
  .header_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px; }
  .header_hello {
    color: #c77dff;
    font-family: "Lato", sans-serif;
    font-size: 8rem;
    font-weight: 700; }
    @media only screen and (max-width: 29.75em) {
      .header_hello {
        font-size: 6rem; } }
  .header_iama {
    color: #c77dff;
    font-family: "Lato", sans-serif;
    font-size: 3rem; }
    @media only screen and (max-width: 29.75em) {
      .header_iama {
        font-size: 2rem; } }
  .header_webdev {
    margin-bottom: 2rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (max-width: 29.75em) {
      .header_webdev {
        font-size: 5.8rem; } }

.btn_port, .btn_port:link, .btn_port:visited {
  margin-top: 2rem;
  padding: .8rem 2.5rem;
  color: #7b2cbfff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #c77dff;
  border-radius: 1rem;
  transition: all .2s; }
  @media only screen and (max-width: 29.75em) {
    .btn_port, .btn_port:link, .btn_port:visited {
      font-size: 2rem; } }

.btn_port:hover {
  color: #fff;
  background-color: #9d4eddff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn_port:active, .btn_port:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(1px); }

.navbar {
  position: fixed;
  top: 6.2rem;
  right: 6.2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 10; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      top: 3.2rem;
      right: 3.2rem; } }

.background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7b2cbfff, #3c096c);
  border-radius: 50%;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 5; }
  @media only screen and (max-width: 37.5em) {
    .background {
      top: 3.2rem;
      right: 3.2rem; } }

.change .background {
  transform: scale(100); }

.hamburger-menu {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  background-color: #c77dff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 20; }
  @media only screen and (max-width: 37.5em) {
    .hamburger-menu {
      top: 3rem;
      right: 3rem; } }

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translate(-75%, 50%);
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.change .nav-list {
  transform: translate(50%, 50%);
  opacity: 1;
  visibility: visible; }

.nav-item {
  margin: 25px;
  list-style: none; }

.nav-link {
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.nav-link:hover {
  color: #c77dff;
  transform: scale(1.2); }

/* NAV LINK LINES */
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s; }

.nav-link::after {
  bottom: 0;
  transform-origin: right; }

.nav-link::before {
  top: 0;
  transform-origin: left; }

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1); }

.line {
  position: absolute;
  top: 3.2rem;
  right: 2rem;
  width: 3rem;
  height: 3px;
  background-color: #9d4eddff;
  transition: all .4s; }
  .line-1 {
    background-color: #7b2cbfff;
    top: 2.2rem; }
  .line-3 {
    background-color: #7b2cbfff;
    top: 4.2rem; }

.change .line-1 {
  top: 3.2rem;
  transform: rotateZ(-135deg); }

.change .line-2 {
  opacity: 0; }

.change .line-3 {
  top: 3.2rem;
  transform: rotateZ(135deg); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 4000; }
  .popup_content {
    display: flex;
    flex-direction: column;
    width: 1066px;
    height: 355px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.25);
    transition: all .5s .2s; }
    @media only screen and (max-width: 70em) {
      .popup_content {
        height: 620px;
        width: 500px; } }
    @media only screen and (max-width: 37.5em) {
      .popup_content {
        width: 300px;
        height: 675px; } }
  .popup_contentcont {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 70em) {
      .popup_contentcont {
        flex-direction: column; } }
  .popup_left {
    height: 100%;
    width: 50%;
    padding: 50px 30px;
    background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
    border-radius: 10px; }
    @media only screen and (max-width: 70em) {
      .popup_left {
        width: 500px;
        height: 45%;
        padding: 20px 30px; } }
    @media only screen and (max-width: 37.5em) {
      .popup_left {
        width: 300px;
        height: 28%; } }
  .popup_gallery {
    display: flex;
    justify-content: center; }
    .popup_gallery_img {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 10px; }
      .popup_gallery_img-web {
        width: 95%;
        height: 100%;
        z-index: 1; }
  .popup_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 20px 5px 30px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden; }
    @media only screen and (max-width: 70em) {
      .popup_right {
        width: 500px;
        height: 55%; } }
    @media only screen and (max-width: 37.5em) {
      .popup_right {
        width: 300px;
        height: 100%; } }
  .popup_title {
    margin-top: 20px;
    padding: 7px 15px;
    background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    z-index: 5; }
  .popup_paragraph {
    padding-bottom: 1rem; }
  .popup_code {
    display: flex;
    flex-wrap: wrap; }
  .popup_code p {
    padding-bottom: 1rem;
    color: #240046;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup_content {
    opacity: 1;
    transform: scale(1); }
  .popup:target .popup_closecont {
    opacity: 1; }
  .popup_closecont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform: translate(-15px, 45px);
    z-index: 7; }
    @media only screen and (max-width: 70em) {
      .popup_closecont {
        width: 533px;
        transform: translate(-40px, 45px); } }
    @media only screen and (max-width: 37.5em) {
      .popup_closecont {
        width: 300px;
        transform: translate(-10px, 45px); } }
  .popup_close:link, .popup_close:visited {
    color: #7b2cbfff;
    font-size: 4rem;
    line-height: 1;
    text-decoration: none;
    transition: all .2s; }
    @media only screen and (max-width: 70em) {
      .popup_close:link, .popup_close:visited {
        color: #fff; } }
  .popup_close:hover {
    color: #c77dff; }

.portfolio {
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
  display: flex;
  flex-direction: column;
  align-items: center; }

.project-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.project {
  height: 100%;
  width: 40rem;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.5rem #3c096c;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s; }

.project:hover,
.project:active {
  box-shadow: 1rem 1rem 1rem #3c096c; }

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: 5px;
  transition: all 0.3s 0.2s;
  z-index: 100;
  opacity: 0;
  visibility: hidden; }

.project:hover .project-text,
.project:active .project-text {
  opacity: 1;
  visibility: visible; }

.project-img {
  width: 40rem;
  transition: opacity 0.3s; }

.project:hover .project-img,
.project:active .project-img {
  opacity: 0.1; }

.project-technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem; }

.project-technologies p {
  padding: 0.5rem 0 1rem 0;
  color: #240046;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }

.project-technologies:nth-last-child() {
  margin-right: 0; }

.project-link {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #3c096cff;
  letter-spacing: 0.1rem;
  padding: 0 1rem; }

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 30px;
  padding-bottom: 30px; }
  .skills_container {
    display: flex;
    justify-content: center;
    width: 650px; }
    .skills_container-design {
      flex-direction: row-reverse; }
    .skills_container-1 {
      align-self: center; }
    .skills_container-2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 530px; }
      @media only screen and (max-width: 43.75em) {
        .skills_container-2 {
          width: 350px; } }
      @media only screen and (max-width: 29.75em) {
        .skills_container-2 {
          width: 300px; } }
    @media only screen and (max-width: 43.75em) {
      .skills_container {
        flex-direction: column;
        align-items: center;
        width: 350px; } }
  .skills_icon {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #3c096c, #7b2cbfff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 8rem; }
  .skills_code {
    display: flex;
    flex-wrap: wrap;
    padding: 0; }
  .skills_code p {
    padding: 0.7rem 0;
    color: #240046;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem; }
  .skills_details {
    transform: translateY(-15px); }
  .skills_resume {
    padding-top: 10px; }
