.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: -20px 15% 40px 15%;

    &_img {
        width: 100px;

        border: solid 3px $color-primary-light;
        border-radius: 50%;
    }
}