.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 3.5rem;

    background-image: linear-gradient(to right, $color-primary, $color-primary-light);
    background-size: cover;

    &_logo {
        width: 175px;
        margin-bottom: 1.5rem;
        padding-top: 50px;
    }
}