.portfolio {
  padding-top: 30px;
  padding-bottom: 100px;

  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-light
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  height: 100%;
  width: 40rem;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.5rem $color-primary;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover,
.project:active {
  box-shadow: 1rem 1rem 1rem $color-primary;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: 5px;
  transition: all 0.3s 0.2s;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.project:hover .project-text,
.project:active .project-text {
  opacity: 1;
  visibility: visible;
}

.project-img {
  width: 40rem;
  transition: opacity 0.3s;
}

.project:hover .project-img,
.project:active .project-img {
  opacity: 0.1;
}

.project-technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.project-technologies p {
  padding: 0.5rem 0 1rem 0;

  color: $color-text;
  font-family: $font-secondary;
  font-size: 1.5rem;
}

.project-technologies:nth-last-child() {
  margin-right: 0;
}

.project-link {
  font-family: $font-secondary;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: $color-link;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}
